@import "modular-scale";
@import "vertical-rhythmic";

// Color palette
$color-white: rgb(255,253,253);
$color-black: rgb(40,38,44);
$color-gray: rgba($color-black, 0.5);
$color-yellow: rgb(232,255,0);
$color-peach: rgb(255,232,209);
$color-blue: rgb(23,23,209);
$color-darkBlue: rgb(42,46,163);
$color-lightBlue: rgb(205,237,253);
$color-red: rgb(255,0,0);

// Fonts
$serif: granville, Times, "Times New Roman", serif;
$sans-serif: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// Set modular scale vars
$ms-ratio: $octave;
/*
$phi	1:1.618	1.618
$golden	1:1.618	1.618
$double-octave	1:4	4
$major-twelfth	1:3	3
$major-eleventh	3:8	2.667
$major-tenth	2:5	2.5
$octave	1:2	2
$major-seventh	8:15	1.875
$minor-seventh	9:16	1.778
$major-sixth	3:5	1.667
$minor-sixth	5:8	1.6
$fifth	2:3	1.5
$augmented-fourth	1:√2	1.414
$fourth	3:4	1.333
$major-third	4:5	1.25
$minor-third	5:6	1.2
$major-second	8:9	1.125
$minor-second	15:16	1.067
*/
$ms-base: 20px;

// ******************* PHASE OUT
// Set vertical-rhythm vars
$vr-rhythm: 1.625;
// ****************************************************************

// Fluid Type
$min_width: 320px;
$max_width: 1800px;
$min_font: 16px;
$max_font: 32px;

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
