@import "modular-scale";
@import "vertical-rhythmic";

// Color palette
$color-white: rgb(255,255,255);
$color-lightGray: rgb(244,249,249);
$color-black: rgb(25,17,19);

$color-blackOffset: mix($color-black, $color-lightGray, 70%);
$color-blackOffset--light: mix($color-black, $color-lightGray, 50%);
$color-whiteOffset: mix($color-white, $color-lightGray, 90%);

$color-yellow: rgb(233,255,0);
$color-yellowTint: mix($color-yellow, $color-white, 20%);

/*
New colors
$color-offWhite: #f6e8ea;
$color-peach: #ffa552;
$color-black: #050609;
$color-persimmon: #f15156;
$color-darkGray: #22181c;

*/

// Fonts
$serif: miller-text, bookmania, freight-text-pro, Georgia, Times, "Times New Roman", serif;
$serif-display: "freight-display-pro", Georgia, Times, "Times New Roman", serif;
$sans-serif: trade-gothic-next, itc-avant-garde-gothic-pro, freight-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// Set modular scale vars
$ms-ratio: $major-second;
$ms-base: 1em;

// Set vertical-rhythm vars
$vr-rhythm: ms(4);

// Page border
$border-color: $color-black;
$border-width: ms(0);